.App {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
}

.sliderContainers {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputcontainers {
  padding: 1%;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  gap: 10px;
}

.lineGraphBox {
  padding: 3%;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.graph {
  width: 45%;
}

@media (max-width: 600px) {
  .lineGraphBox {
    flex-direction: column;
  }
  .graph {
    width: 90%;
  }
}
